
<!DOCTYPE html>
<html lang="en" ng-app="hackathon2016.KnowB4UGo">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Hackathon 2016 - KnowB4UGo</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/flipclock.css" rel="stylesheet">


	  <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet">
   
  </head>
  
  <style>
	.jumbotron { text-align: left;}
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 95%;
	  /* Set the fixed height of the footer here */
	  height: 40px;
	  background-color: #f5f5f5;
	}
  </style>
	
  <body>
	<div ng-controller="BathroomCtrl">
		<div class="container">
			
			<div class="header clearfix text-center">
				<h3 class="text-muted">Know Before You Go</h3>
			</div>
			<div class="jumbotron">
				<div class="input-group">
					<label>Floor</label>
					<select class="form-control" ng-options="item.code as item.description for item in floorOptions"
						ng-model="data.floor" placeholder="Floor" ></select>
					
					<span class="input-group-addon" style="border:none"></span> 
					<label>Gender</label>
					<select class="form-control" ng-options="item.code as item.description for item in genderOptions"
									ng-model="data.gender" placeholder="Gender" ></select>
				</div>
			</div>

			<div class="row" ng-if="cleaningStatusData.response.status != undefined && cleaningStatusData.response.status == 1">
				<div class="col-xs-6">
					<p>Stall 1</p>
					<div ng-if="statusData.response.status==0">
						<img src="img/wboccupied.jpg" class="img-thumbnail" alt="Stall closed">
					</div>
					<div ng-if="statusData.response.status==1">
						<img src="img/wbopen.jpg" class="img-thumbnail" alt="Stall open">
					</div>
				</div>
				<div class="col-xs-6" ng-if="statusData.response.status != undefined" >
					<p>Stall 2</p>
					<img src="img/wbopen.jpg" class="img-thumbnail" alt="Stall open">
				</div>
				<div class="col-xs-6" ng-if="statusData.response.status != undefined" >
					<p>Stall 3</p>
					<img src="img/wbopen.jpg" class="img-thumbnail" alt="Stall open">
				</div>
				<div class="col-xs-6" ng-if="statusData.response.status != undefined" >
					<p>Stall 4</p>
					<img src="img/wbopen.jpg" class="img-thumbnail" alt="Stall open">
				</div>
			</div>

			<div class="row" ng-if="cleaningStatusData.response.status != undefined && cleaningStatusData.response.status == 0">
				<div class="col-xs-6" ng-if="statusData.response.status != undefined" >
					<p>Stall 1</p>
					<img src="img/closed.jpg" class="img-thumbnail" alt="Stall closed">
				</div>
				<div class="col-xs-6" ng-if="statusData.response.status != undefined" >
					<p>Stall 2</p>
					<img src="img/closed.jpg" class="img-thumbnail" alt="Stall closed">
				</div>
					
				<div class="col-xs-6" ng-if="statusData.response.status != undefined" >
					<p>Stall 3</p>
					<img src="img/closed.jpg" class="img-thumbnail" alt="Stall closed">
				</div>
				<div class="col-xs-6" ng-if="statusData.response.status != undefined" >
					<p>Stall 4</p>
					<img src="img/closed.jpg" class="img-thumbnail" alt="Stall closed">
				</div>
			</div>

		  <!-- <footer class="footer">
			<p>&copy; 2016</p>
		  </footer> -->

		</div> <!-- /container -->
	</div> <!-- ng-controller -->
   
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="js/controller2.js"></script>

  </body>
</html>
